In [1]:
import pandas as pd
import os
from utils import prepare_data
import config

In [2]:
config.SECTOR_GROUP

{'software': ['MSFT',
  'NFLX',
  'GOOGL',
  'META',
  'ADBE',
  'ZM',
  'DUOL',
  'COIN',
  'ABNB',
  'CRM',
  'MDB',
  'EBAY',
  'BABA',
  'U',
  'SPOT',
  'ACN',
  'DIS',
  'RDDT',
  'BIDU',
  'PINS',
  'GTLB',
  'WIX',
  'BOX',
  'AMBA',
  'TCOM',
  'WDAY',
  'GLOB'],
 'security': ['CRWD', 'PANW', 'S'],
 'ecommerce': ['EBAY', 'BABA', 'SE', 'PDD', 'JD'],
 'community': ['META', 'GOOGL', 'ZM', 'RDDT', 'MSI'],
 'entertain': ['NFLX', 'AMZN', 'DIS', 'AMC', 'BIDU', 'WBD', 'BILI'],
 'cloud': ['AMZN', 'GOOGL', 'DBX', 'CFLT', 'ORCL', 'IBM', 'CLSK', 'SNOW'],
 'chip': ['ON',
  'AAPL',
  'NVDA',
  'AVGO',
  'QCOM',
  'AMD',
  'TSM',
  'SMCI',
  'INTC',
  'ASML',
  'ARM',
  'SNPS'],
 'industries': ['FN'],
 'hardware': ['LOGI',
  'AMZN',
  'MSFT',
  'WDC',
  'HPQ',
  'INTC',
  'AAPL',
  'NVDA',
  'AMD',
  'DELL',
  'MU',
  'HPE',
  'MSI'],
 'auto': ['TSLA', 'LI', 'NIU', 'RACE', 'F', 'TM'],
 'bio': ['BNTX'],
 'finance': ['PYPL',
  'INTU',
  'COIN',
  'WAL',
  'BAC',
  'SOFI',
  'V',
  'MA',
  'JPM',
  'INTU'],
 'network': ['CSCO'],
 'energy': ['NEE', 'XOM', 'OXY', 'ENPH', 'CVX', 'BHP'],
 'utility': ['MMM',
  'AMZN',
  'NKE',
  'COST',
  'WMT',
  'PG',
  'PVH',
  'ANF',
  'M',
  'TJX',
  'COTY',
  'LOW',
  'EL'],
 'phone': ['AAPL', 'GOOGL'],
 'study': ['DUOL'],
 'delivery': ['UBER', 'GRAB', 'TGT', 'ZIM'],
 'crypto': ['COIN', 'MSTR', 'CLSK'],
 'rent': ['ABNB', 'TCOM'],
 'food': ['SBUX', 'MCD', 'CELH', 'PEP', 'KO', 'HSY', 'MDLZ', 'K'],
 'pet': ['CHWY'],
 'aircraft': ['BA'],
 'game': ['RBLX', 'U', 'EA', 'NTES'],
 'health': ['UNH',
  'PFE',
  'LLY',
  'HIMS',
  'JNJ',
  'ABBV',
  'TMDX',
  'MRNA',
  'MRK',
  'NVO',
  'CDNA',
  'A',
  'MDT'],
 'astros': ['RTX', 'NOC']}

In [3]:
pdata_func = prepare_data()

In [4]:
df = pd.read_parquet(os.path.join(os.getcwd(),'data','original_dataset.parquet'))
df

,Open,High,Low,Close,Volume,tic,rsi_14,stochrsi_14,vwma_14,tema_200,...,CDLSPINNINGTOP,CDLSTALLEDPATTERN,CDLSTICKSANDWICH,CDLTAKURI,CDLTASUKIGAP,CDLTHRUSTING,CDLTRISTAR,CDLUNIQUE3RIVER,CDLUPSIDEGAP2CROWS,CDLXSIDEGAP3METHODS
0,0.837449,0.837449,0.823045,0.190931,352350,BA,NaN,NaN,0.617142,0.190931,...,0,0,0,0,0,0,0,0,0,0
1,0.000000,3.296131,3.244048,0.328718,105840,CVX,NaN,NaN,2.289632,0.328718,...,0,0,0,0,0,0,0,0,0,0
2,0.092908,0.096026,0.092908,0.057941,841958,DIS,NaN,NaN,0.082292,0.057941,...,0,0,0,0,0,0,0,0,0,0
3,0.131273,0.131273,0.124177,0.041663,2480333,HPQ,NaN,NaN,0.099038,0.041663,...,0,0,0,0,0,0,0,0,0,0
4,7.374124,7.374124,7.291268,1.513321,407940,IBM,NaN,NaN,5.392904,1.513321,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894598,171.740005,172.210007,167.149994,168.300003,266100,WIX,60.238553,75.295215,160.605427,173.522378,...,0,0,0,0,0,0,0,0,0,0
894599,79.900002,80.290001,79.599998,79.779999,11891300,WMT,61.128474,4.602449,79.404414,77.553906,...,-100,0,0,0,0,0,0,0,0,0
894600,113.760002,116.089996,113.250000,115.820000,15962000,XOM,52.629516,76.448474,113.734664,116.312964,...,0,0,0,0,0,0,0,0,0,0
894601,23.680000,25.129999,23.600000,24.240000,7423200,ZIM,73.743060,100.000000,20.878114,20.790490,...,0,0,0,0,0,0,0,0,0,0
894602,69.010002,69.589996,68.721001,69.550003,1417500,ZM,61.774152,82.606901,67.653011,65.905569,...,0,0,0,0,0,0,0,0,0,0

In [6]:
sector_to_stocks = config.SECTOR_GROUP
stock_to_sector = {stock: sector for sector, stocks in sector_to_stocks.items() for stock in stocks}
stock_to_sector

{'MSFT': 'hardware',
 'NFLX': 'entertain',
 'GOOGL': 'phone',
 'META': 'community',
 'ADBE': 'software',
 'ZM': 'community',
 'DUOL': 'study',
 'COIN': 'crypto',
 'ABNB': 'rent',
 'CRM': 'software',
 'MDB': 'software',
 'EBAY': 'ecommerce',
 'BABA': 'ecommerce',
 'U': 'game',
 'SPOT': 'software',
 'ACN': 'software',
 'DIS': 'entertain',
 'RDDT': 'community',
 'BIDU': 'entertain',
 'PINS': 'software',
 'GTLB': 'software',
 'WIX': 'software',
 'BOX': 'software',
 'AMBA': 'software',
 'TCOM': 'rent',
 'WDAY': 'software',
 'GLOB': 'software',
 'CRWD': 'security',
 'PANW': 'security',
 'S': 'security',
 'SE': 'ecommerce',
 'PDD': 'ecommerce',
 'JD': 'ecommerce',
 'MSI': 'hardware',
 'AMZN': 'utility',
 'AMC': 'entertain',
 'WBD': 'entertain',
 'BILI': 'entertain',
 'DBX': 'cloud',
 'CFLT': 'cloud',
 'ORCL': 'cloud',
 'IBM': 'cloud',
 'CLSK': 'crypto',
 'SNOW': 'cloud',
 'ON': 'chip',
 'AAPL': 'phone',
 'NVDA': 'hardware',
 'AVGO': 'chip',
 'QCOM': 'chip',
 'AMD': 'hardware',
 'TSM': 'chip',
 'SMCI': 'chip',
 'INTC': 'hardware',
 'ASML': 'chip',
 'ARM': 'chip',
 'SNPS': 'chip',
 'FN': 'industries',
 'LOGI': 'hardware',
 'WDC': 'hardware',
 'HPQ': 'hardware',
 'DELL': 'hardware',
 'MU': 'hardware',
 'HPE': 'hardware',
 'TSLA': 'auto',
 'LI': 'auto',
 'NIU': 'auto',
 'RACE': 'auto',
 'F': 'auto',
 'TM': 'auto',
 'BNTX': 'bio',
 'PYPL': 'finance',
 'INTU': 'finance',
 'WAL': 'finance',
 'BAC': 'finance',
 'SOFI': 'finance',
 'V': 'finance',
 'MA': 'finance',
 'JPM': 'finance',
 'CSCO': 'network',
 'NEE': 'energy',
 'XOM': 'energy',
 'OXY': 'energy',
 'ENPH': 'energy',
 'CVX': 'energy',
 'BHP': 'energy',
 'MMM': 'utility',
 'NKE': 'utility',
 'COST': 'utility',
 'WMT': 'utility',
 'PG': 'utility',
 'PVH': 'utility',
 'ANF': 'utility',
 'M': 'utility',
 'TJX': 'utility',
 'COTY': 'utility',
 'LOW': 'utility',
 'EL': 'utility',
 'UBER': 'delivery',
 'GRAB': 'delivery',
 'TGT': 'delivery',
 'ZIM': 'delivery',
 'MSTR': 'crypto',
 'SBUX': 'food',
 'MCD': 'food',
 'CELH': 'food',
 'PEP': 'food',
 'KO': 'food',
 'HSY': 'food',
 'MDLZ': 'food',
 'K': 'food',
 'CHWY': 'pet',
 'BA': 'aircraft',
 'RBLX': 'game',
 'EA': 'game',
 'NTES': 'game',
 'UNH': 'health',
 'PFE': 'health',
 'LLY': 'health',
 'HIMS': 'health',
 'JNJ': 'health',
 'ABBV': 'health',
 'TMDX': 'health',
 'MRNA': 'health',
 'MRK': 'health',
 'NVO': 'health',
 'CDNA': 'health',
 'A': 'health',
 'MDT': 'health',
 'RTX': 'astros',
 'NOC': 'astros'}

In [7]:
df['Sector'] = df['tic'].map(stock_to_sector)

In [10]:
df[['rsi','Sector']]

        tic     Sector
0        BA   aircraft
1       CVX     energy
2       DIS  entertain
3       HPQ   hardware
4       IBM      cloud
...     ...        ...
894598  WIX   software
894599  WMT    utility
894600  XOM     energy
894601  ZIM   delivery
894602   ZM  community

[894603 rows x 2 columns]

In [4]:
df = pdata_func.filling_missing_value(df, "default_value")

In [5]:
def cal_rsi(value):
    value = float(value)
    if value >= 0.7:
        return 1
    elif value <= 0.3:
        return -1
    else:
        return 0
    
def cal_storsi(value):
    value = float(value)
    if value >= 0.8:
        return 1
    elif value <= 0.2:
        return -1
    else:
        return 0
    
def cal_tema(value, min_tema, max_tema):
    tema_min = value[f'tema_{min_tema}']
    tema_max = value[f'tema_{max_tema}']
    tema_min = float(tema_min)
    tema_max = float(tema_max)
    if tema_min > tema_max:
        return 1
    elif tema_min < tema_max:
        return -1
    else:
        return 0

In [11]:
df['rsi_14']

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
            ...
894598    60.238553
894599    61.128474
894600    52.629516
894601    73.743060
894602    61.774152
Name: rsi_14, Length: 894603, dtype: float64

In [6]:
# rsi 14
df['rsi_14'] = df['rsi_14']/100
df['rsi_interpret'] = df['rsi_14'].apply(cal_rsi)

In [7]:
# sto rsi 14
df['stochrsi_14'] = df['stochrsi_14']/100
df['stochrsi_14_interpret'] = df['stochrsi_14'].apply(cal_storsi)

In [8]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'tic', 'rsi_14',
       'stochrsi_14', 'vwma_14', 'tema_200', 'tema_50', 'tema_100',
       'CDL2CROWS', 'CDL3BLACKCROWS', 'CDL3INSIDE', 'CDL3LINESTRIKE',
       'CDL3OUTSIDE', 'CDL3STARSINSOUTH', 'CDL3WHITESOLDIERS',
       'CDLABANDONEDBABY', 'CDLADVANCEBLOCK', 'CDLBELTHOLD', 'CDLBREAKAWAY',
       'CDLCLOSINGMARUBOZU', 'CDLCONCEALBABYSWALL', 'CDLCOUNTERATTACK',
       'CDLDARKCLOUDCOVER', 'CDLDOJI', 'CDLDOJISTAR', 'CDLDRAGONFLYDOJI',
       'CDLENGULFING', 'CDLEVENINGDOJISTAR', 'CDLGRAVESTONEDOJI', 'CDLHAMMER',
       'CDLHANGINGMAN', 'CDLHARAMI', 'CDLHARAMICROSS', 'CDLHIGHWAVE',
       'CDLHIKKAKE', 'CDLHIKKAKEMOD', 'CDLHOMINGPIGEON', 'CDLIDENTICAL3CROWS',
       'CDLINNECK', 'CDLINVERTEDHAMMER', 'CDLKICKING', 'CDLKICKINGBYLENGTH',
       'CDLLADDERBOTTOM', 'CDLLONGLEGGEDDOJI', 'CDLLONGLINE', 'CDLMARUBOZU',
       'CDLMATCHINGLOW', 'CDLMATHOLD', 'CDLMORNINGDOJISTAR', 'CDLMORNINGSTAR',
       'CDLONNECK', 'CDLPIERCING', 'CDLRICKSHAWMAN', 'CDLRISEFALL3METHODS',
       'CDLSEPARATINGLINES', 'CDLSHOOTINGSTAR', 'CDLSHORTLINE',
       'CDLSPINNINGTOP', 'CDLSTALLEDPATTERN', 'CDLSTICKSANDWICH', 'CDLTAKURI',
       'CDLTASUKIGAP', 'CDLTHRUSTING', 'CDLTRISTAR', 'CDLUNIQUE3RIVER',
       'CDLUPSIDEGAP2CROWS', 'CDLXSIDEGAP3METHODS', 'rsi_interpret',
       'stochrsi_14_interpret'],
      dtype='object')

In [9]:
df['tema_50_100'] = df.apply(cal_tema,args=(50,100),axis=1)

In [10]:
df['tema_100_200'] = df.apply(cal_tema,args=(50,100),axis=1)

In [12]:
len(config.TICKET_LIST)

131